
  
  * {
    box-sizing: border-box;
  }
  
  a {
    color: #0066c0;
  }
  
  a:hover {
    color: #c45500;
  }
  
  header {
    background-color:#4d0918 ;
    height: 99px;
  }
  
  .nav-left {
    position: relative;
    float: left;
    width: auto;
    display: inline-block;
  }
  
  .nav-right {
    position: relative;
    float: right;
    width: auto;
    display: inline-block;
  }
  
  .nav-fill {
    width: auto;
    white-space: nowrap;
    overflow: hidden;
  }
  .button {
    background-color:#4d0918;
    border: none;
    color: #fafafc;
    padding: 5px 15px;
    text-align: center;
    text-decoration:none;
    display: inline-block;
    font-size: 12px;
    margin: 14px 7px;
    cursor: pointer;
  }
  
  #nav-logo {
    padding: 11px 18px 0 24px;
    position: relative;
    width: 192px;
  }
  
  #nav-logo .nav-logo-link {
    background: transparent url('http://localhost:8078/Bookshop/1.gif') no-repeat top left;
    background-size: 95px;
    width: 104px;
    height: 84px;
    display: block;
  }
  
  #nav-logo .nav-logo-tagline {
    color: #48a3c6;
    position: absolute;
    top: 31px;
    left: 93px;
    font-size: 11px;
    line-height: 11px;
    font-family: arial, sans-serif;
    font-weight: 700;
  }
  
  #nav-logo .nav-logo-tagline:hover {
    color: #ffffff;
  }
  
  #nav-search {
    position: relative;
    display: block;
    overflow: hidden;
    padding-top: 11px; 
    padding-right: 25px;
  }
  
  #nav-search input {
    width: 100%;
  }
  
  #nav-search .nav-left {
    height: 35px;
    background-color: #f3f3f3;
    border-radius: 4px 0 0 4px;
    border: 1px solid #cdcdcd;
    overflow: hidden;
  }
  
  #nav-search .nav-left:hover {
    background-color: #dadada;
    border-left-color: #dadada;
    border-top-color: #dadada;
    border-bottom-color: #dadada;
  }
  
  #nav-search .nav-search-label {
    color: #777;
    display: block;
    font-size: 12px;
    line-height: 33px;;
    margin-right: 21px;
    margin-left: 10px;
  }
  
  #nav-search .nav-left i {
    position: absolute;
    top: 10px;
    right: 9px;
    color: #a0a0a0;
    font-size: 11px;
  }
  
  #nav-search select {
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;
    height: 35px;
    display: block;
    outline: none;
    cursor: pointer;
  }
  
  #nav-search .nav-fill {
    height: 35px;
    overflow: hidden;
  }
  
  #nav-search .nav-fill input {
    border: none;
    height: 35px;
    padding: 5px 10px;
    font-size: 15px;
    color: #111;
    outline: none;
  }
  
  #nav-search .nav-right {
    background-color: #febd69;
    width: 45px;
    height: 35px;
    border-radius: 0 4px 4px 0;
  }
  
  #nav-search .nav-right:hover {
    background-color: #f3a847;
  }
  
  #nav-search .nav-right i {
    position: absolute;
    top: 5px;
    right: 13px;
    color: #333;
    font-size: 22px;
    opacity: 0.9;
  }
  
  #nav-search .nav-right input {
    position: relative;
    width: 100%;
    height: 100%;
    display: block;
    outline: none;
    cursor: pointer;
    background: none;
    border: none;
    text-indent: -1000px;
  }
  
  
  
  
  
  #nav-belt .nav-right {
    padding-right: 6px;
  }
  
  #nav-belt .nav-right a {
    margin-top: 6px;
  }
  
  #nav-belt .nav-right .cart {
    background: transparent url("http://localhost:8078/Bookshop/cart.png") no-repeat 11px 11px;
    background-size: 39px;
    padding: 7px 20px 7px 50px;
  }
  
  #nav-belt .nav-right .cart span {
    color: #f08804;
    margin-left: -20px;
    font-size: 16px;
    font-weight: 700;
  }
  
  
  
  
  
  
  #nav-belt ul {
    list-style-type: none;
    position: relative;
    padding: 0;
    margin: 18px 0 0 0;
  }
  
  #nav-belt li {
    display: inline-block;
    padding: 10px 9px 0 0;
  }
  
  #nav-belt a {
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
  }
  
  #nav-belt .nav-a {
    padding: 7px 10px;
    border: 1px solid transparent;
    display: inline-block;
    position: relative;
  }
  
  #nav-belt .nav-a:hover {
    border: 1px solid #4f5965;
    border-radius: 3px;
    box-shadow: 0 1px 0 0 rgba(255,255,255,.5);
  }
  
  #nav-belt .nav-a span {
    display: block;
    margin-left: -2px;
    font-weight: 300;
    color: #ccc;
    font-size: 12px;
  }
  
  #nav-belt i.fa-caret-down {
    color: #ccc;
    font-size: 11px;
    padding-left: 3px;
  }
  
  
  
  
  .nav-fil ul{
    list-style-type: none;
    position: relative;
    padding: 0;
    margin: -10px 0 0 195px;
  }
  
  #nav-main li {
    display: inline-block;
    padding: 10px 0px 0 0;
  }
  
  
  #nav-main .nav-fil a {
    font-weight: 400;
    color: #ccc;
  }
  
  #nav-main .nav-fil a:hover {
   /*border: 1px solid #4f5965;*/
    border-radius: 3px;
    box-shadow: 0 1px 0 0 rgba(255,255,255,.5);
    text-decoration:none;
  }
  
  