<header>

    <div id="nav-belt">
      <div class="nav-left">
        <div id="nav-logo">
          <a href="#" title="Universal Sky" class="nav-logo-link"></a>
          <!-- <a href="#" class="nav-logo-tagline">Try Prime</a> -->
        </div>
      </div>
      <div class="nav-right">
        <a class="nav-a" href="#">
          <span>EN</span>
          <i class="fa fa-globe" aria-hidden="true"></i>
          <i class="fa fa-caret-down" aria-hidden="true"></i>
        </a>

        <a class="nav-a" href="#">
          <span>Hello. Sign in</span>
          Accounts &amp; Lists
          <i class="fa fa-caret-down" aria-hidden="true"></i>
        </a>

        <a class="nav-a" href="#">
          Orders
        </a>

        <a class="nav-a" href="#">
          Your Account
          <i class="fa fa-caret-down" aria-hidden="true"></i>
        </a>

        <a class="nav-a cart" href="#">
          <span>0</span>
          Cart
        </a>
      </div>
      <div class="nav-fill">
        <div id="nav-search">
          <form>
            <div class="nav-left">
              <span class="nav-search-label">All</span>
              <i class="fa fa-caret-down" aria-hidden="true"></i>
              <select id="nav-search-select">
                <option selected="selected" value="aps">All Departments</option>
                <option value="alexa-skills">Alexa Skills</option>
                <option value="instant-video">Amazon Video</option>
                <option value="warehouse-deals">Amazon Warehouse Deals</option>
                <option value="appliances">Appliances</option>
                <option value="mobile-apps">Apps &amp; Games</option>
                <option value="arts-crafts">Arts, Crafts &amp; Sewing</option>
                <option value="automotive">Automotive Parts &amp; Accessories</option>
              </select>
            </div>
            <div class="nav-right">
              <i class="fa fa-search" aria-hidden="true"></i>
              <input type="submit">
            </div>
            <div class="nav-fill">
              <input type="text" autocomplete="off">
            </div>
          </form>
        </div>
      </div>
    </div>

    <nav id="nav-main">
       <div class="nav-fil">
        <ul>
		  <li><a routerLink ="/" class="button">Home</a></li>
          <li><a routerLink="/bestsellers" class="button">Best Sellers</a></li>
          <li><a routerLink="/deals" class="button">Today's Deals</a></li>
          <li><a routerLink="/reviews" class="button">Reviews</a></li>
          <li><a routerLink="/contacts" class="button">Contact Us</a></li>
          
        </ul>
      </div>
    </nav>
  </header>