/* You can add global styles to this file, and also import other style files */

html, body {
    margin: 0px;
    font-family: arial,sans-serif;
    min-width: 900px;
    line-height: 14px;
    font-size: 14px;
    padding: 0px;
  }